*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    /* background: rgb(157, 157, 255); */
    background-color: #7077A1;
}

.container {
    width: 40%;
    top: 50%;
    left: 50%;
    background: white;
    border-radius: 15px;
    min-width: 450px;
    position: absolute;
    min-height: 100px;
    /* height:200px; */
    transform: translate(-50%, -50%);
}
#heading{
  text-align: center; 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#newtask {
    position: relative;
    padding: 30px 20px;
}

#newtask input {
    width: 75%;
    height: 45px;
    color: rgb(36, 2, 68);
    font-weight: 200;
    position: relative;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    border: 2px solid #d1d3d4;
}

#newtask input:focus {
    outline: none;
    border-color: rgb(36, 2, 68);
}

#newtask button {
    position: relative;
    float: right;
    font-weight: 500;
    font-size: 17px;
    /* background-color: rgb(157, 157, 255); */
    background-color: #2D3250;
    border: none;
    /* color: rgb(36, 2, 68); */
    color:white;
    cursor: pointer;
    outline: none;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#tasks {
    border-radius: 10px;
    width: 100%;
    position: relative;
    background-color: white;
    padding: 30px 20px;
    margin-top: 10px;
}

.task {
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #939697;
    cursor: pointer;
    /* background-color: #c5e1e6; */
    background-color: #9290C3;
    height: 50px;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
    font-size: 20px;
}

.task span {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 400;
}

.task button {
    /* background-color: rgb(163, 163, 218); */
    background-color: #2D3250;
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
    height: 100%;
    width: 40px;
    border-radius: 5px;
}